<!DOCTYPE html>
<html>
    <head>
        <title>HoopFinder Events</title>
        <!-- {% load static %} -->
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'hoopfinder/css/styles.css' %}"> -->
        <link rel="stylesheet" type="text/css" href="../../static/hoopfinder/css/styles.css">
    

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        
    </head>
    <body>

        <!-- make the navigation bar on its own file and just attach it in every page -->
    
        <div class="container" id="eventsbody">
            <div class = "navigationbar">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">HoopFinder!</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="#">Maps</a>
                        <a class="nav-item nav-link" href="#">Users</a>
                        <a class="nav-item nav-link" href="/courts">Courts</a>
                        <a class="nav-item nav-link" href="/logout">Logout</a>
                        
                        </div>
                    </div>
                </nav>
            </div>
            
            <div class="eventsdiv">


    
            </div>     <!-- end of eventsdiv -->
        </div>      <!-- end of container and id=ceventsbody -->

    </body>
</html>
    